In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
raw_data = pd.read_csv('Example no. 1. (Exploratory, Classification) Classifying water potability.csv')

raw_data.head(5)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.89,20791.32,7.30,368.52,564.31,10.38,86.99,2.96,0
1,3.716080,129.42,18630.06,6.64,NaN,592.89,15.18,56.33,4.50,0
2,8.099124,224.24,19909.54,9.28,NaN,418.61,16.87,66.42,3.06,0
3,8.316766,214.37,22018.42,8.06,356.89,363.27,18.44,100.34,4.63,0
4,9.092223,181.10,17978.99,6.55,310.14,398.41,11.56,32.00,4.08,0

In [5]:
raw_data.describe

<bound method NDFrame.describe of             ph  Hardness    Solids  Chloramines  Sulfate  Conductivity  \
0          NaN    204.89  20791.32         7.30   368.52        564.31
1     3.716080    129.42  18630.06         6.64      NaN        592.89
2     8.099124    224.24  19909.54         9.28      NaN        418.61
3     8.316766    214.37  22018.42         8.06   356.89        363.27
4     9.092223    181.10  17978.99         6.55   310.14        398.41
...        ...       ...       ...          ...      ...           ...
3271  4.668102    193.68  47580.99         7.17   359.95        526.42
3272  7.808856    193.55  17329.80         8.06      NaN        392.45
3273  9.419510    175.76  33155.58         7.35      NaN        432.04
3274  5.126763    230.60  11983.87         6.30      NaN        402.88
3275  7.874671    195.10  17404.18         7.51      NaN        327.46

      Organic_carbon  Trihalomethanes  Turbidity  Potability
0              10.38            86.99       2.96           0
1              15.18            56.33       4.50           0
2              16.87            66.42       3.06           0
3              18.44           100.34       4.63           0
4              11.56            32.00       4.08           0
...              ...              ...        ...         ...
3271           13.89            66.69       4.44           1
3272           19.90              NaN       2.80           1
3273           11.04            69.85       3.30           1
3274           11.17            77.49       4.71           1
3275           16.14            78.70       2.31           1

[3276 rows x 10 columns]>

In [9]:
ph_na_df = raw_data[raw_data['ph'].isna()]
ph_na_df.head(5)

sulfate_na_df = raw_data[raw_data['Sulfate'].isna()]
sulfate_na_df.head(5)

trihalomethanes_na_df = raw_data[raw_data['Trihalomethanes'].isna()]
trihalomethanes_na_df.head(5)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
62,NaN,229.49,35729.69,8.81,384.94,296.40,16.93,NaN,3.86,0
81,5.519126,168.73,12531.60,7.73,NaN,443.57,18.10,NaN,3.76,0
110,9.286155,222.66,12311.27,7.29,332.24,353.74,14.17,NaN,5.24,0
118,7.397413,122.54,8855.11,6.89,241.61,489.85,13.37,NaN,3.15,0
119,7.812804,196.58,42550.84,7.33,NaN,442.55,14.67,NaN,6.20,0

In [12]:
clean_data = raw_data.dropna()
clean_data.head(5)
print(clean_data.shape)

print(raw_data.shape)

(2011, 10)
(3276, 10)